<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<header class="w3-container w3-bottombar w3-dark-gray">
  <h1>poker.io</h1>
</header>

<div class="w3-container w3-light-gray" ng-app="pokerApp" ng-controller="pokerCtrl">
  
  <div class="w3-cell-row w3-panel w3-border w3-border-gray w3-round-large">
    <div class="w3-container w3-cell w3-button w3-left w3-padding"
         ng-click="draw()">
      <h3>Draw</h3>
    </div>
    
    <div class="w3-container w3-cell w3-right w3-padding">
      <h3>Bet</h3>
    </div>
    
    <div class="w3-container w3-cell w3-padding-16">
      <input class="w3-input" type="number" 
             min="0.25" max="100" step="0.25" 
             ng-model="bet"/>
    </div>
    
    <div class="w3-container w3-cell w3-right w3-padding">
      <h3>Wallet</h3>
    </div>
    
    <div class="w3-container w3-cell w3-padding">
      <h3>{{wallet}}</h3>
    </div>
  </div>
  
  <div class="w3-container w3-padding">
    <div class="w3-row w3-center">
      <div class="w3-col w3-padding" style="width:20%" ng-repeat="x in deck">
        <div ng-click="holdCard($index)" 
             class="w3-card-4 w3-round-xlarge w3-border w3-hover-border-deep-purple"
             ng-class="{'w3-border-indigo': x.held}">
          <img src="img/{{x.rank}}/{{x.suit}}" 
               alt="{{x.rank}} of {{x.suit}}"
               style="width:100%"/>
        </div>
      </div>
    </div>
  </div>
  
  <div class="w3-panel w3-border w3-border-gray w3-round-large">
    <h2>Win</h2>
    <p>{{win}}</p>
  </div>
  
</div>

<footer class="w3-container w3-topbar w3-dark-gray">
  <p>Alexandre Taillefer (2019)</p>
</footer>

<script>
var app = angular.module("pokerApp", []);
app.controller("pokerCtrl", function($scope) {
  $scope.deck = []
  $scope.win = "";
  $scope.bet = 0.25;
  $scope.wallet = 100.0;
  $scope.holdCard = function(id) {
    $scope.deck[id].held = !$scope.deck[id].held;
  }
  $scope.draw = function() {
    const req = {
      "bet": $scope.bet
    }
    $http.post("/draw", JSON.stringify(data))
    .then((res) => {
      const result = JSON.parse(res);
      $scope.deck = result.deck;
      $scope.win = result.win;
      $scope.wallet = result.wallet;
    })
    .catch((err) => {
    
    });
  }
});
</script>

</body>
</html>